/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    min-height: 100vh; /* Establece el alto mínimo de la página al 100% de la ventana gráfica */
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Estilos de secciones */
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s;
}

/* Sombreado cuando se pasa el mouse */
section:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #007BFF;
}

/* Estilos de pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Estilo para resaltar la sección activa */
.resaltado {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Define el sombreado */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}